*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.templates{
    display: flex;
}
.template_1{
    width: 400px;
    min-height: 400px;
    max-height: 400px;
    color: white;
    background-color: #000026;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.template_1 #headline{
    color: #FF236E;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight:bolder;
    font-size: 30px;
    padding: 10px 10px 0 10px;
}
.template_1 #content{
    font-size: 20px;
    text-align: justify;
    background-color: #FF236E;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}
.template_1 #ad{
    font-size: 20px;
    text-align: justify;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}