*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
body{
    background: #2d2d2d;
    color: snow;
}
.template_1{
    width: 600px;
    height: 600px;
    background-color: #FFFFB9;
    color: #2d2d2d;
}
.main_image{
    width: 90%;
    margin: 3% 5% 0 5%;
}
.head{
    width: 100%;
    height:7%;
    background:  linear-gradient(90deg, #9F0316,#E70D84,#9F0316);
    display: flex;
}
.logo{
    width: 100px;
    margin: -5% 0 -5% 0;
    border-radius: 50%;
}
.place{
    background-color: #FFF200;
    border-radius: 50px;
    padding: 0 5% 0 5%;
    margin: -10% 0 5% 0;
}
#content{
    text-align: center;
    font-weight: bolder;

}
.credit{
    background-color: #FFF200;
}
.credit .logo{
    width: 70px;
}
.smlog img{
    width: 20px;
    margin: 0 0.25% 0 0.25%;
}
.whatsapp_logo{
    width: 25px;
}

/* .templates{
    display: flex;
    display: flex;
    justify-content: space-around;
}
.template_1{
    width: 400px;
    height: 400px;
    color: white;
    background-color: #FFFFB9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.template_1 #headline{
    color: #FF236E;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight:bolder;
    font-size: 30px;
    padding: 10px 10px 0 10px;
}
.template_1 #content{
    font-size: 20px;
    text-align: justify;
    background-color: #FF236E;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}
.template_1 #ad{
    font-size: 20px;
    text-align: justify;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
} */